<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Entities" connectionString="metadata=res://*/IMS_Data.csdl|res://*/IMS_Data.ssdl|res://*/IMS_Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=IIMS_ORG;user id=org;password=org;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="Model1" connectionString="data source=mmx;initial catalog=IIMS_ORG;user id=sa;password=jsmiracle;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>