@{
    ViewBag.Title = "List";
}

<div style="height:750px;">
    <table cellpadding="5">
        <tr>
            <td>
                查询明细
            </td>
            <td>
                <input type="text" id="txt" class="easyui-textbox" style="width:100%;height:32px" />
            </td>
            <td><input id="btn" type="button" class="easyui-linkbutton" style="width:80px;height:20px;" value="查询" onclick="reloadGrid()" /></td>
            <td><input id="btnShowDlg" type="button" class="easyui-linkbutton" value="test" onclick="showDialog()" /></td>
        </tr>
    </table>

    <div>
            <table id="userGrid" style="padding:10px"></table>
        @*<table id="userGrid1" class="easyui-datagrid" title="用户信息" style="height:650px;"
               singleselect="true" collapsible="false" , url="@Url.Action("GetUserList")"
               pagination="true" pagesize="1" pagelist="[1]">
            <thead>
                <tr>
                    <th field="ID" ,align="center" width="80">ID</th>
                    <th field="UserID" align="center" width="80">员工号</th>
                    <th field="UserName" align="center" width="80">员工姓名</th>
                    <th field="Email" align="center" width="150">Email</th>
                    <th field="CreateDate" align="center" width="150" formatter="DateTimeFormatter">创建日期</th>
                </tr>
            </thead>
        </table>*@
    </div>
</div>
@*<div id="dd" class="easyui-window" style="width:900px;height:600px;">Dialog Content.</div>*@

<script type="text/javascript">
    function reloadGrid() {
        var txtVal = $("#txt").val();
        $("#userGrid").datagrid('reload',
                {
                    txt: txtVal,
                }
            );
    }

    function showDialog() {
        $('#dd').dialog({
            title: 'My Dialog',
            width: 400,
            height: 200,
            closed: false,
            cache: false,
            href: 'http://localhost/extjs6/',
            modal: true
        });
    }

    window.onload = function() {
        // 必须在页面加载后执行，否则边框画不全，应该是easyui加载时边框距离计算错误的原因
        $("#userGrid").datagrid(
              {
                  url: '@Url.Action("GetUserList")',
                  title: '用户信息',
                  singleSelect: true,
                  loadMsg: '数据载入中...',
                  pagination: true, // 是否显示分页控件
                  pagesize: 1,      // 每页行数
                  pageList: [1],    // 要选的每页行数 为了界面显示正确一定要和pagesize的值相同
                  height: '650px',
                  columns: [[
                      { field: 'ID', title: 'ID', width: 100, align: 'center' },
                      { field: 'UserID', title: '员工号', width: 100, align: 'center' },
                      { field: 'UserName', title: '员工姓名', width: 100, align: 'center' },
                      { field: 'Email', title: 'Email', width: 150, align: 'center' },
                      // DateTimeFormatter 在 ~/Views/Shared/_Layout.cshtml中定义好的方法，用于格式化数据字符串
                      { field: 'CreateDate', title: '创建日期', width: 150, align: 'center',formatter:DateTimeFormatter }
                  ]]
              });
    }
</script>
