<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>


  <appSettings>
    <add key="ServiceConfiguration" value="..\..\..\..\..\WcfOutputLibrary\WcfServiceConfig.xml" />
  </appSettings>
  <connectionStrings>
    <add name="ORGModels" connectionString="metadata=res://*/TabelEntities.IMS_Data.csdl|res://*/TabelEntities.IMS_Data.ssdl|res://*/TabelEntities.IMS_Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=IIMS_ORG;user id=org;password=org;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ORGModels" connectionString="metadata=res://*/TabelEntities.IMS_Data.csdl|res://*/TabelEntities.IMS_Data.ssdl|res://*/TabelEntities.IMS_Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.1;initial catalog=IIMS_ORG;user id=org;password=org;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding>      
      <dependentAssembly>        
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>