A {
    text-decoration: none;
}

.content {
    border: 1px solid #fff;
    margin-bottom: 3px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 22px;
    list-style-type:none;
}

    .content li {
        list-style-type: none;
        background-color: #ffffff;
        padding-left: 5px;
        BACKGROUND: url("images/ViewForm.GIF") no-repeat 0px 4px;
        color: #000;
        list-style-position: outside;
        padding-left: 20px;
    }

    .content  .content  {
        text-decoration: none;
    }

    .content a:hover {
        color: #000;
        text-decoration: underline;
    }
