body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*input[type=submit], input[type=button]{
    width: 100px;
    height: 30px;
}*/

.TB {
    border: #9CB2C6 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 98%;
    border-spacing: 0px;
    padding: 2px;
    color: #000;
    background-color: #f3f3f3;
}

.TB tr{
   display:block;
   margin-top:15px;
   margin-bottom:15px;
}

.TB td{
    width:100px;
    padding-left:5px;
}
