@{
    ViewBag.Title = "Index";
}


<div>
    <div id="executionPathToolbar">
        <div style="padding-left:5px;">

        </div>
        <div style="padding-left:5px;">
            <a href="###" class="easyui-linkbutton" iconcls="icon-add"
               onclick="wtExecutionPath.Edit('add')">新增执行路径</a>
        </div>
    </div>

    <table id="grdExecutionPath"></table>

</div>
<script type="text/javascript">

    var wtExecutionPath;

    $(function () {

        // 初始化所有用到的方法
        wtExecutionPath = {

            Edit: function (op, id) {
                var width = '600px';
                var height = '330px';
                var title = '';
                var url = '';

                if (op == 'add') {
                    url = '@Url.Action("Create")';
                    title = '新增执行路径';
                }
                else if (op == 'mod') {

                    url = '@Url.Action("Edit")' + '?id=' + id;
                    title = '编辑执行路径';
                }

                JsMiracleCommon.showWindow(title, url, width, height, this.reloadDataGrid);
            },

            reloadDataGrid: function () {
                // 刷新模块子类
                $("#grdExecutionPath").datagrid('reload');

            }
        };


        $("#grdExecutionPath").datagrid({
            url: '@Url.Action("GetExecutingPathList")',
            singleSelect: true,
            loadMsg: '数据载入中...',
            pagination: true, // 是否显示分页控件
            pagesize: 10,      // 每页行数
            pageList: [10],    // 要选的每页行数 为了界面显示正确一定要和pagesize的值相同
            height: '700px',
            rownumbers: true,
            toolbar: '#executionPathToolbar',
            columns: [[
                {
                    field: '_operate', title: '操作', width: 150, align: 'center'
                    , formatter: function (value, row, index) {
                        var removeFunStr = 'JsMiracleCommon.removeItem(\'' + row.ID + '\',\''
                            + '起始节点:' + row.QSJD + '目的节点:' + row.MDJD
                            + '\',\'@Url.Action("Remove")\',wtExecutionPath.reloadDataGrid)';

                        var html = '<a href="javascript:void(0)"  class="loan_remove_button"'
                                  + 'onclick="' + removeFunStr + '" >删除</a>'
                                  + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                  + '<a href="javascript:void(0)"  class="loan_edit_button" '
                                  + ' onclick="wtExecutionPath.Edit(\'mod\',' + row.ID + ');">修改</a>';

                        return html;
                    }
                },
                { field: 'QSJD', title: '起始节点', width: 100, align: 'center' },
                { field: 'MDJD', title: '目的节点', width: 100, align: 'center' },
                { field: 'ZXZ', title: '执行者', width: 100, align: 'center' },
                { field: 'ZXMS', title: '执行模式(0主动/1请求)', width: 100, align: 'center' },
                { field: 'YCSJ', title: '延迟时间', width: 100, align: 'center' },
                { field: 'QZ', title: '权值', width: 100, align: 'center' },
                { field: 'ZT', title: '状态', width: 100, align: 'center' },
                { field: 'CJR', title: '创建人', width: 100, align: 'center' },
                {
                    field: 'CJSJ', title: '创建时间', width: 100, align: 'center'
                    , formatter: JsMiracleCommon.dateTimeFormatter
                },
                { field: 'BZ', title: '备注', width: 200, align: 'center' }
            ]],
            onLoadSuccess: function (data) {
                $(".loan_remove_button").linkbutton({ iconCls: 'icon-remove' });
                $(".loan_edit_button").linkbutton({ iconCls: 'icon-edit' });
            },
            onLoadError: function (XMLHttpRequest) {
                JsMiracleCommon.showWindowContent("error", XMLHttpRequest.responseText
                    , "500px", "500px");
            }
        });
    });


</script>
