<style type="text/css">
    #login {
        float: right;
        width: 300px;
        padding-top: 50px;
    }

    #logoutForm {
        display: inline;
    }

    #site-title {
        float: left;
    }
</style>

<div id="site-title">
    <img src="~/Content/images/Logo.jpg" />
</div>
<div id="login">
    <b>
        你好:@User.Identity.Name
    </b>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">注销</a>
    }
    <a href="javascript:cmTitle.openRegist()">注册</a>
    <a href="javascript:cmTitle.openLogin()">登录</a>
</div>
<script type="text/javascript">

    var cmTitle = {
        openRegist: function () {
            var height = '350px';
            var width = '350px';
            var title = '用户注册';
            var url = '@Url.Action("Registion","User" ,new { Area="UP" })';
            JsMiracleCommon.showWindow(title, url, width, height)
        },

        reloadWindow: function () {
            window.location = '@Url.Action("Index","Home")';
        },

        openLogin: function () {
            var height = '250px';
            var width = '500px';
            var title = '用户登录';
            var url = '@Url.Action("LogInPop","Account")';
            JsMiracleCommon.showWindow(title, url, width, height, cmTitle.reloadWindow);
        },
    };

</script>