@{
    ViewBag.Title = "Index";
}

<div>
    <div id="itemToolbar">
        <div style="padding-left:5px;">

        </div>
        <div style="padding-left:5px;">
            <a href="###" class="easyui-linkbutton" iconcls="icon-add"
               onclick="cbItem.showItemEdit('add')">新增物料</a>
        </div>
    </div>

    <table id="grdItem"></table>

</div>
<script type="text/javascript">

    var cbItem;

    $(function () {

        // 初始化所有用到的方法
        cbItem = {
     

            showItemEdit: function (op, id) {
                var width = '600px';
                var height = '450px';
                var title = '';
                var url = '';

                if (op == 'add') {
                    url = '@Url.Action("CreateItem")';
                    title = '新增物料信息';
                }
                else if (op == 'mod') {

                    url = '@Url.Action("EditIem")' + '?id=' + id;
                    title = '编辑物料信息';
                }

                JsMiracleCommon.showWindow(title, url, width, height, cbItem.reloadDataGrid);

            },

            reloadDataGrid: function () {
                // 刷新模块子类
                $("#grdItem").datagrid('reload');

            }
        };


        $("#grdItem").datagrid({
            url: '@Url.Action("GetItemList")',
            singleSelect: true,
            loadMsg: '数据载入中...',
            pagination: true, // 是否显示分页控件
            pagesize: 10,      // 每页行数
            pageList: [10],    // 要选的每页行数 为了界面显示正确一定要和pagesize的值相同
            height: '700px',
            rownumbers: true,
            toolbar: '#itemToolbar',
            columns: [[
                {
                    field: '_operate', title: '操作', width: 150, align: 'center'
                    , formatter: function (value, row, index) {
                        var removeFunStr = 'JsMiracleCommon.removeItem(\'' + row.ID + '\',\''
                            + row.WLMC + '\',\'@Url.Action("RemoveItem")\',cbItem.reloadDataGrid)';

                        var html = '<a href="javascript:void(0)"  class="loan_remove_button"'
                                  + 'onclick="' + removeFunStr + '" >删除</a>'
                                  + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                  + '<a href="javascript:void(0)"  class="loan_edit_button" '
                                  + ' onclick="cbItem.showItemEdit(\'mod\',' + row.ID + ');">修改</a>';

                        return html;
                    }
                },
                { field: 'WLBH', title: '物料编号', width: 100, align: 'center' },
                { field: 'WLTypeName', title: '物料类型', width: 100, align: 'center' },
                { field: 'WLMC', title: '物料名称', width: 250, align: 'center' },
                { field: 'XGR', title: '修改用户', width: 100, align: 'center' },
                { field: 'XGSJ', title: '修改时间', width: 200, align: 'center', formatter: JsMiracleCommon.dateTimeFormatter },
            ]],
            onLoadSuccess: function (data) {
                $(".loan_remove_button").linkbutton({ iconCls: 'icon-remove' });
                $(".loan_edit_button").linkbutton({ iconCls: 'icon-edit' });
            },
            onLoadError: function (XMLHttpRequest) {
                JsMiracleCommon.showWindowContent("error", XMLHttpRequest.responseText
                    , "500px", "500px");
            }
        });
    });


</script>
