@{
    ViewBag.Title = "Index";
}

<div>
    <div id="locationToolbar">
        <div style="padding-left:5px;">
        </div>
    </div>

    <table id="grdLocation"></table>
</div>


<script type="text/javascript">

    var cbLocation;

    $(function () {

        // 初始化所有用到的方法
        cbLocation = {};

        @*$("#grdLocation").datagrid({
            url: '@Url.Action("GetLocationList")',
            singleSelect: true,
            loadMsg: '数据载入中...',
            pagination: true, // 是否显示分页控件
            pagesize: 10,      // 每页行数
            pageList: [10],    // 要选的每页行数 为了界面显示正确一定要和pagesize的值相同
            height: '700px',
            rownumbers: true,
            toolbar: '#locationToolbar',
            columns: [[
                { field: 'WLBH', title: '物料编号', width: 100, align: 'center' },
                { field: 'WLTypeName', title: '物料类型', width: 100, align: 'center' },
                { field: 'WLMC', title: '物料名称', width: 250, align: 'center' },
                { field: 'XGR', title: '修改用户', width: 100, align: 'center' },
                { field: 'XGSJ', title: '修改时间', width: 200, align: 'center', formatter: dateTimeFormatter },
            ]],
        });*@
    });


</script>
